.App {
  text-align: center;
}

.app-heading {
  font-size: 2rem;
  padding: 0.3rem;
  border-bottom: 2px solid orange;
  font-weight: bold;
  color: black;
  text-align: center;
}

.app-subheading {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.not-found {
  min-height: calc(100vh - 240px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
